
/*n_n-menu*/

.n-menu {
  list-style: none;
  line-height: 42px;
  margin: auto;
  /*outline: 1px solid red;*/
  padding-left: 0;
  width: 15em;

}

.n-menu a {
  background: url(../t_img/icons.png) no-repeat left top;
  color: #ddd;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding-left: 3em;
  width: 100%;
}

.n-menu a:hover {
  margin-left: 1em;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.n-menu li {
  box-shadow: 3px 0 rgba(52,152,219,.2) inset;
  margin-bottom: 5px;
  padding-left: .5em;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;/*outline: 1px solid green*/
}

.n-menu li:hover { box-shadow: 15em 0 rgba(52,152,219,.2)inset; }

.n-menu li:nth-child(2) a { background-position: 0 -42px; }

.n-menu li:nth-child(3) a { background-position: 0 -84px; }

.n-menu li:nth-child(4) a { background-position: 0 -126px; }

.n-menu li:nth-child(5) a { background-position: 0 -168px; }

.n-menu li:last-child a { background-position: 0 -210px; }

/*FIN n-menu*/
/*Posicion Responsive n-menu*/

#n-nav {
  background: rgba(34, 49, 60, 0.92);/*rgba(41,128,185,1)*/
  padding-right: .25em;
  position: fixed;
  left: -18em;
  top: 0;
  padding-top: 5em;
  box-sizing: border-box;
  z-index: 20;
  height: 100%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

nav.active { left: 0; }
#n-nav.active { 
  left: 0;
  height: 100%;
}

#mobile-nav {
  background: url(../t_img/menu-icon.png);
  cursor: pointer;
  left: 2em;
  height: 30px;
  position: absolute;
  top: 2em;
  width: 30px;
  z-index: 30;
}